doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/phonepe/phonepesdk.js')
  body
    block content
    script(src='/javascripts/script.js')
