body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.web_console {
    border: 1px solid #ccc;
    padding: 5px;
    font-family: "Courier New";
}